doctype html
html
    head
        title='CS460PA1'
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content
            h1='Update a Business'
            .main.container
                .row
                    .col-md-6.col-md-offset-3
                        h1.display-4.m-b-2 Please enter the values you wish to change(leaving them unchanged if you do not wish them to change) as well as the ID

                        a(class='button' href='/') Return to Home
                            br

                        // register form
                        form(method='POST' action='/busupdate')
                            div.form-group
                                label(for='id') Enter the ID of the business you would like to update:
                                input#id.form-control(type='text', placeholder='business id' name='id')
                            div.form-group
                                label(for='name') Business Name:
                                input#name.form-control(type='text', placeholder='business name' name='name')
                            div.form-group
                                label(for='stars') Number of stars:
                                input#stars.form-control(type='text', placeholder='0' name='stars')
                            div.form-group
                                label(for='status') Type true (active) or false (inactive) depending on status:
                                    input#status.form-control(type='text', placeholder='true' name='status')

                            button.btn.btn-primary(type='submit') Submit
                        h1= response