doctype html
html
    head
        title='CS460PA1'
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content
            h1='Response to your query'

            a(class='button' href='/') Return to Home
                br

            p= val


