doctype html
html
    head
        title='CS460PA1'
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content
            h1='Preselected'

            a(class='button' href='/') Return to Home
                br

            a(class='button' href='/query1') 1. Display all users that have at least 1 review.
            br

            a(class='button' href='/query2') 2. Display the name of the users that have made 2 reviews or less.
            br

            a(class='button' href='/query3') 3. Display all inactive businesses.
            br


            a(class='button' href='/query4') 4. Display the names of all pizza restaurants that have a rating of 4 stars or above.
            br


            a(class='button' href='/query5') 5. Display the number of stores that had at least one check-in on Friday.
            br


            a(class='button' href='/query6') 6. Display the text of all reviews made for the "Arcadia Tavern".
            br


            a(class='button' href='/query7') 7. Display the names of the restaurants that have taken at least one 1-star or 2-star review.
            br


            a(class='button' href='/query8') 8. Display the average rating and total number of reviews of all KFC stores.
            br


            a(class='button' href='/query9') 9. Display a lis tof the ids of teh top 10 stores in terms of the number of reviews they have received.
            br


            a(class='button' href='/query10') 10. Display the name of the user that has made the most reviews.
            br


