doctype html
html
    head
        title='CS460PA1'
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content
            h1='Review Insert'
            .main.container
                .row
                    .col-md-6.col-md-offset-3
                        h1.display-4.m-b-2 Please enter all values

                        a(class='button' href='/') Return to Home
                            br

                        // register form
                        form(method='POST' action='/revinsert')
                            div.form-group
                                label(for='name') Review ID:
                                input#name.form-control(type='text', placeholder='review id' name='id')
                            div.form-group
                                label(for='id') Review Text:
                                input#id.form-control(type='text', placeholder='review text' name='text')
                            div.form-group
                                label(for='stars') Stars:
                                input#stars.form-control(type='text', placeholder='0' name='stars')
                            button.btn.btn-primary(type='submit') Submit
                            h1= response